
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model List<Vatan.Models.VM.CategoryVM>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Top Category</th>
                            <th>Edit</th>
                            <th>Delete</th>


                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="@item.ID">
                                <td>@item.ID</td>
                                <td>@item.CategoryName</td>
                                <td>@item.TopCategoryID</td>
                                <td>
                                    <a href="/Category/Edit/@item.ID"><button class="btn btn-outline-success">Edit</button></a>
                                </td>
                                <td>

                                    <button class="btn btn-outline-danger delete" id="@item.ID">Delete</button>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>


<script>
    $(document).on("click", ".delete", function () {
        let id = $(this).attr("id")
        $.ajax({
            url: "/Category/Delete",
            type: "POST",
            data: { id: id },
            success: function (msg) {
                alert(msg);
                $("#" + id).fadeOut();
            },
            error: function (err) {
                alert("Category Deleting Failed!");
            }
        })
    })
</script>