@model Vatan.Areas.Admin.Models.VM.ProductVM




<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(q => q.ProductName, new { @class = "col-sm-3 text-left control-label col-form-label" })
            @Html.TextBoxFor(q => q.ProductName, new { @placeholder = "Enter Product name", @class = "form-control", @id = "fname" })
            @Html.ValidationMessageFor(q => q.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(q => q.Description, new { @class = "col-sm-3 text-left control-label col-form-label" })

            @*<div class="col-sm-9">*@
            @Html.TextBoxFor(q => q.Description, new { @placeholder = "Enter description", @class = "form-control", @id = "duration" })
            @Html.ValidationMessageFor(q => q.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(q => q.Quantity, new { @class = "col-sm-3 text-left control-label col-form-label" })
            @*<div class="col-sm-9">*@
            @Html.TextBoxFor(q => q.Quantity, new { @placeholder = "Enter quantity", @class = "form-control", @id = "posterurl" })
            @Html.ValidationMessageFor(q => q.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(q => q.Price, new { @class = "col-sm-3 text-left control-label col-form-label" })
            @*<div class="col-sm-9">*@
            @Html.TextBoxFor(q => q.Price, new { @type = "text", @placeholder = "Enter price", @class = "form-control mydatepicker" })
            @Html.ValidationMessageFor(q => q.Price, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="col-md-12">
        <div class="form-group">
            <label class="bmd-label-floating">Categories:</label>
            <br>
            @foreach (var item in Model.categoryCheck)
            {

                <input type="checkbox" name="categoryArray" value="@item.categoryid" checked="@item.IsChecked">
                <label>@item.Name</label><br>

            }
            @*@foreach (var item in Model.categoryCheck)
                {
                    <input type="checkbox" name="categoryid" value="@item.categoryid" checked="@item.IsChecked">
                    <label>@item.Name</label><br>
                }*@
        </div>
    </div>

    <div class="form-group">
        <label class="bmd-label-floating">Choose an image</label>
        <input type="file" name="productimages" multiple accept="image/x-png,image/gif,image/jpeg" class="btn btn-danger" style="position:initial; opacity:initial" />
    </div>

</div>
<script>
    $(function () {
        $("#datepicker").datepicker({

        });
    });
</script>